body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #2C2829;
}

nav {
    height: 100px;
    background-image: linear-gradient(#fdfdfd, #e7e7e7);
}

#opalImg {
    height: 70px;
    margin-left: 50px;
    margin-top: 15px;
    float: left;
}

#carImg {
    height: 70px;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}


nav h1 {
    padding-top: 23px;
    padding-left: 20px;
    float: left;
    /* font-family: Arial, Helvetica, sans-serif; */
}

#loading {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.carpark {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px black solid;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

.carpark h3 {
    display: inline-block;
}

.carpark #top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.carpark #top p {
    margin-top: auto;
    margin-bottom: auto;
}
