<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='opalcarpark.css') }}">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='moment.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='carpark.js') }}"></script> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='car.ico') }}" type="image/x-icon" />
    <title>Opal Carpark Status</title>
</head>
<body>
    <nav id="navbar">
        <img id="opalImg" src="{{ url_for('static', filename='opal.png') }}" alt="Opal Logo">
        <img id="carImg" src="{{ url_for('static', filename='car.png') }}" alt="Car logo">
        <h1>Opal Carpark Status</h1>
    </nav>
    <div id="loading">
        <h2>Loading...</h2>
    </div>
    <!-- <div class="carpark">
        <div id="top">
            <h3>Seven Hills</h3>
            <p>Updated 25/12/2019 10.32am</p>
        </div>
        
        <h6>60% full</h6>
        <div class="w3-border">
            <div class="w3-orange" style="height:24px;width:60%"></div>
        </div>
    </div> -->

</body>
</html>